.marbleContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
	padding: 20px;
}

.cButton:hover {
	text-decoration: underline;
	color: #995e00;
}

.marble {
	height: 300px;
	overflow: hidden;
	text-overflow: clip;
	margin: 50px;
	padding: 5px 15px 15px 15px;
	background: #ffd899e3;
	border: 2px solid #ffd899e3;
	border-radius: 5px;
	font-family: "Times New Roman", Times, serif;
}

.marbleModal {
	background: #001433;
	color: #ffd899;
	padding: 50px;
	padding-top: 0;
	height: 85vh;
	width: 80vw;
	font-size: 2em;
	border: 2px solid #995e00;
}

.marbleAuthor {
	display: flex;
	justify-content: space-between;
}

#author {
	white-space: nowrap;
	overflow-x: scroll;
}

.marbleStory {
	margin: 0;
	margin-top: 20px;
	overflow-y: scroll;
	margin-bottom: 10px;
	height: 600px;
}

.marbleStory > p {
	margin: 0;
	overflow-y: scroll;
}

.marbleStory::-webkit-scrollbar,
#author::-webkit-scrollbar {
	display: none;
}

.marbleStory > p::-webkit-scrollbar {
	display: none;
}
