/* background-color: rgb(255, 163, 50); */

.creature {
	display: flex;
    gap: 5px;
	justify-content: space-between;
	text-decoration: none;
	color: black;
	margin: 20px;
	border: 2px solid #995e00;
	background-color: rgb(255, 163, 50);
	border-radius: 50px;
	box-shadow: 5px 15px 15px rgb(0, 0, 0);
}

.cImage {
    margin: 20px;
	display: flex;
	width: 200px;
	min-width: 125px;
	align-self: center;
	overflow: hidden;
	justify-content: center;
}

.cImage > img {
	border: solid 5px #001433;
	height: 175px;
    width: auto;
}

.cDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1250px;
	font-size: larger;
}

.cWhereAbouts {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
