html,
body {
	margin: 0;
	background-color: #0f0f81;
}

li {
	list-style: none;
}

.navbar {
	align-items: center;
	background: #c3c9cd;
	border-bottom: solid 5px black;
	margin-left: 50px;
	margin-right: 50px;
}

.profModal {
	font-weight: bolder;
	font-size: 1.5rem;
}

.userIn {
	width: fit-content;
	display: flex;
	padding: 10px;
	flex-direction: column;
	align-items: center;
	color: #c3c9cd;
	background: #001433;
}

.profile-dropdown {
	position: absolute;
	top: 85px;
	right: 5px;
}

