html,
body {
	margin: 0;
	background-color: #66A1FF;
}

li {
	list-style: none;
}

.navbar {
	align-items: center;
	background: linear-gradient(to bottom, #ffffff, #66A1FF);
	margin-left: 50px;
	margin-right: 50px;
}

.profModal {
	font-weight: bolder;
	font-size: 1.5rem;
}

.userIn {
	width: 100px;
	display: flex;
	padding: 10px;
	flex-direction: column;
	align-items: center;
	color: white;
	background: #001433;
}

.profile-dropdown {
	position: absolute;
	top: 85px;
	right: 0;
}

